@font-face {
  font-family: 'AntDesign';
  src: url('../node_modules/react-native-vector-icons/Fonts/AntDesign.ttf');
}
@font-face {
  font-family: 'Entypo';
  src: url('../node_modules/react-native-vector-icons/Fonts/Entypo.ttf');
}
@font-face {
  font-family: 'EvilIcons';
  src: url('../node_modules/react-native-vector-icons/Fonts/EvilIcons.ttf');
}
@font-face {
  font-family: 'Feather';
  src: url('../node_modules/react-native-vector-icons/Fonts/Feather.ttf');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../node_modules/react-native-vector-icons/Fonts/FontAwesome.ttf');
}
@font-face {
  font-family: 'FontAwesome5_Brands';
  src: url('../node_modules/react-native-vector-icons/Fonts/FontAwesome5_Brands.ttf');
}
@font-face {
  font-family: 'FontAwesome5_Regular';
  src: url('../node_modules/react-native-vector-icons/Fonts/FontAwesome5_Regular.ttf');
}
@font-face {
  font-family: 'FontAwesome5_Solid';
  src: url('../node_modules/react-native-vector-icons/Fonts/FontAwesome5_Solid.ttf');
}
@font-face {
  font-family: 'Fontisto';
  src: url('../node_modules/react-native-vector-icons/Fonts/Fontisto.ttf');
}
@font-face {
  font-family: 'Foundation';
  src: url('../node_modules/react-native-vector-icons/Fonts/Foundation.ttf');
}
@font-face {
  font-family: 'Ionicons';
  src: url('../node_modules/react-native-vector-icons/Fonts/Ionicons.ttf');
}
@font-face {
  font-family: 'MaterialCommunityIcons';
  src: url('../node_modules/react-native-vector-icons/Fonts/MaterialCommunityIcons.ttf');
}
@font-face {
  font-family: 'MaterialIcons';
  src: url('../node_modules/react-native-vector-icons/Fonts/MaterialIcons.ttf');
}
@font-face {
  font-family: 'Fontisto';
  src: url('../node_modules/react-native-vector-icons/Fonts/Fontisto.ttf');
}
@font-face {
  font-family: 'Octicons';
  src: url('../node_modules/react-native-vector-icons/Fonts/Octicons.ttf');
}
@font-face {
  font-family: 'SimpleLineIcons';
  src: url('../node_modules/react-native-vector-icons/Fonts/SimpleLineIcons.ttf');
}
@font-face {
  font-family: 'Zocial';
  src: url('../node_modules/react-native-vector-icons/Fonts/Zocial.ttf');
}